    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    body {
        background: #242425;
        font-family: 'Roboto', sans-serif;
    }
    /*Google fonts*/
    
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(MaterialIcons-Regular.eot);
        /* For IE6-8 */
        src: local('Material Icons'), local('MaterialIcons-Regular'), url(MaterialIcons-Regular.woff2) format('woff2'), url(MaterialIcons-Regular.woff) format('woff'), url(MaterialIcons-Regular.ttf) format('truetype');
    }
    
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: 'liga';
    }
    
    #announcement {
        color: #242425;
        margin: 0.25em;
        background: white;
        font-size: 8px;
        padding: 0.25em;
        text-align: center;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    /* .sticky+.main {
        padding-top: 60px;
    } */
    
    #top_menu {
        background: #34495e;
        padding: 10px 0% 10px 10%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    
    #top_menu ul {
        padding: 10px;
    }
    
    #top_menu li {
        margin: 0px 25px;
        display: inline;
        list-style: none;
    }
    
    #top_menu li a {
        text-decoration: none;
        color: white;
    }
    
    #logo {
        color: #dcdcdc;
        text-decoration: none;
        font-size: 20px;
        width: 20%;
        margin: 10px 0 0 0;
    }
    
    .selfie {
        width: 200px;
        height: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 50px;
        overflow-x: unset;
    }
    
    .selfie img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    
    #chk {
        visibility: hidden;
        z-index: -100;
    }
    
    .menu {
        height: 50vh;
        width: 100%;
        background-color: aquamarine;
        text-align: center;
        padding: 10px;
        transition: 1.0s;
        line-height: normal;
        display: none;
    }
    
    .menu :hover {
        display: flex;
    }
    
    .menu ul {
        width: 100%;
    }
    
    .menu li a {
        line-height: 5;
        list-style: none;
        text-decoration: none;
        color: #242425;
    }
    /* .menu :hover{
  display: flex;
} */
    
    .main {
        padding: 2%;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        background-size: cover;
        min-height: 500px;
    }
    
    .mainindex {
        background: url(../img/20191225_122357.jpg);
        background-position: center;
        background-size: cover;
        min-height: 80vh;
    }
    
    .mainAbout {
        background: url(../img/IMG-20200102-WA0001.jpg);
        background-position: center;
        background-size: cover;
        min-height: 800px;
    }
    
    #bot_footer {
        background: #34495e;
        bottom: 0;
        position: fixed;
        left: 0;
        width: 100%;
    }
    
    .copyright {
        text-align: center;
        padding: 10px;
    }
    
    .icons {
        color: #fff;
        font-size: 30px;
        padding: 10px;
    }
    
    .social-icons {
        text-align: center;
        padding: 10px 0;
    }
    
    #menu_nav {
        display: none;
    }
    
    .content {
        padding: 10px;
    }
    
    .container {
        padding: 10px;
        min-height: 150px;
    }
    
    .container .button a {
        text-decoration: none;
        text-align: center;
        height: 50px;
        PADDING-TOP: 8px;
    }
    
    .container .button:hover {
        background-color: #4CAF50;
        color: white;
        padding: 20px;
        /* transition: 1.1s; */
    }
    
    .container hr {
        width: 200px;
    }
    
    .container .button {
        margin: 40px auto 0;
        border-radius: 10px;
        border: 2px solid #4CAF50;
        /* border: none; */
        padding: 10px;
        display: block;
        background-color: #61d466;
        transition: 1.1s;
        display: flex;
        justify-content: center;
        width: 30vw;
    }
    
    #menu_button {
        padding-right: 30px;
    }
    
    @media screen and (min-width:500px) {
        body {
            background: #cfc;
        }
        #menu_nav {
            display: flex;
        }
        #menu_button {
            display: none;
        }
    }
    
    @media screen and (min-width: 1000px) {
        body {
            background: #ccf;
        }
    }
    
    @-webkit-keyframes bounceInDown {
        from,
        60%,
        75%,
        90%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
        }
        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }
        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }
        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes bounceInDown {
        from,
        60%,
        75%,
        90%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
        }
        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }
        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }
        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        text-align: center;
        color: #dcdcdc;
        letter-spacing: 5px;
        background-color: #242425;
        margin: 0 auto;
        margin-top: 80px;
        padding: 10px 20px;
        width: 35%;
        border-radius: 10px;
    }
    
    .bounceInDown a {
        text-decoration: none;
        color: #dcdcdc;
        font-size: 20px;
    }