* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #256899;
}

body {
    background: #242425;
    font-family: 'Roboto', sans-serif;
}


/*Google fonts*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(MaterialIcons-Regular.woff2) format('woff2'), url(MaterialIcons-Regular.woff) format('woff'), url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

#announcement {
    color: #242425;
    margin: 0.25em;
    background: white;
    font-size: 8px;
    padding: 0.25em;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* .sticky+.main {
        padding-top: 60px;
    } */

#top_menu {
    background: #34495e;
    padding: 10px 0% 10px 10%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#top_menu ul {
    padding: 10px;
}

#top_menu li {
    margin: 0px 25px;
    display: inline;
    list-style: none;
}

#top_menu li a {
    text-decoration: none;
    color: white;
}

#logo {
    color: #dcdcdc;
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    margin: 10px 0 0 0;
}

.selfie {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    overflow-x: unset;
}

.selfie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.markword {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    animation-delay: 3s;
    transition-delay: 3s;
}

#chk {
    visibility: hidden;
    z-index: -100;
    position: absolute;
}

.menu {
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    /* padding: 10px; */
    transition: 1.0s;
    line-height: normal;
    /* display: none; */
    overflow: hidden;
    height: 0;
}

.menu :hover {
    /* display: flex; */
}

.menu ul {
    width: 100%;
}

.menu li a {
    line-height: 5;
    list-style: none;
    text-decoration: none;
    color: #242425;
    transition: 1s;
}

.menu li a:hover {
    line-height: 5;
    list-style: none;
    text-decoration: none;
    color: #dcdcdc;
    font-size: 20px;
}

.main {
    padding: 2%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.mainindex {
    background: url(../img/20191225_122357.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

.mainAbout {
    background: url(../img/IMG-20200102-WA0001.jpg);
    background-position: center;
    background-size: cover;
    min-height: 800px;
}

.mainSchool {
    background: url(../img/FDBWA_Szeto_Ho_Secondary_School_southwest_side.jfif);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}

#bot_footer {
    background: #34495e;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.icons {
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.social-icons {
    text-align: center;
    padding: 10px 0;
}

#menu_nav {
    display: none;
}

.content {
    /* padding: 10px; */
    margin: 10px;
}

.container {
    padding: 10px;
    /* min-height: 150px; */
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
}

.container p {
    margin: 2%;
}

.container .button a {
    text-decoration: none;
    text-align: center;
    height: 50px;
    padding: 8px 12px;
    display: inline-flex;
}

.container .button {
    margin: 40px auto 40px;
    border-radius: 10px;
    border: 1px solid #4CAF50;
    padding: 5px;
    display: block;
    background-color: #61d466;
    transition: 1.1s;
    width: 30vw;
    text-align: center;
}

.container .button:hover {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    /* transition: 1.1s; */
}

.container hr {
    width: 200px;
}

#menu_button {
    padding-right: 30px;
}

.content-body {
    display: flex;
}

.pic-container {
    width: 33%;
    padding: 30px;
}

.pic-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.description {
    max-width: 66%;
    padding: 30px;
}

.description p {
    /* min-width: 500px; */
}

.description h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 16px;
}

.description p {
    margin-bottom: 16px;
}

.map {
    height: 600px;
    width: 100%;
    text-align: center;
}

.map iframe {
    box-shadow: 0px 0px 2.4px 0.6px rgba(0, 0, 0, 0.2);
    border: #fff solid 5px;
    margin: 30px auto;
}

#map {
    height: 100%;
}

html,
body,
#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map-canvas {
    width: 600px;
    height: 450px;
    margin: 0 auto;
}

.showImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.showImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:500px) {
    body {
        background: #cfc;
    }
    #menu_nav {
        display: flex;
    }
    #menu_button {
        display: none;
    }
    .modal-content {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: #ccf;
    }
}

@-webkit-keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    text-align: center;
    color: #dcdcdc;
    letter-spacing: 5px;
    background-color: #242425;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px 20px;
    width: 35%;
    border-radius: 10px;
}

.bounceInDown a {
    text-decoration: none;
    color: #dcdcdc;
    font-size: 20px;
}


/* width */

 ::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #f1f1f1;
    /* border-radius: 10px; */
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}